
@{
    this.Layout = "~/Views/Shared/_Layout.cshtml";
}
@section Styles{
    <link href="assets/css/header-1.css" rel="stylesheet" type="text/css" />
    <link href="assets/css/color_scheme/green.css" rel="stylesheet" type="text/css" id="color_scheme" />
}
@section FooterScripts{
}
<!-- /CALLOUT -->
<!-- 3 Cols -->
<section>
    <div class="container">
        <div class="row">

            <div class="col-md-4">

                <div class="heading-title heading-border-bottom heading-color">
                    <h3>Passion</h3>
                </div>

                <p>Fabulas definitiones ei pri per recteque hendrerit scriptorem in errem scribentur mel fastidii propriae philosophia cu mea. Utinam ipsum everti necessitatibus at fuisset splendide.</p>

            </div>

            <div class="col-md-4">
                <div class="heading-title heading-border-bottom heading-color">
                    <h3>Precision</h3>
                </div>
                <p>Fabulas definitiones ei pri per recteque hendrerit scriptorem in errem scribentur mel fastidii propriae philosophia cu mea. Utinam ipsum everti necessitatibus at fuisset splendide.</p>

            </div>

            <div class="col-md-4">
                <div class="heading-title heading-border-bottom heading-color">
                    <h3>Simplicity</h3>
                </div>
                <p>Fabulas definitiones ei pri per recteque hendrerit scriptorem in errem scribentur mel fastidii propriae philosophia cu mea. Utinam ipsum everti necessitatibus at fuisset splendide.</p>

            </div>

        </div>

    </div>
</section>
<!-- /3 Cols -->
<!-- PARALLAX -->
<section class="parallax parallax-2" style="background-image: url('assets/images/demo/wall3-min.jpg');">
    <div class="overlay dark-5"><!-- dark overlay [1 to 9 opacity] --></div>

    <div class="container">

        <!-- Counters -->
        <div class="row countTo-sm text-center">

            <div class="col-xs-6 col-sm-3 col-xs-6">
                <i class="ico-lg ico-transparent et-megaphone"></i>
                <div class="block size-50" style="color: #3498db;">
                    <strong class="countTo size-50" data-speed="3000">1303</strong>
                </div>
                <h3 class="size-15 margin-top-10 margin-bottom-0">LINES OF CODE</h3>
            </div>

            <div class="col-xs-6 col-sm-3 col-xs-6">
                <i class="ico-lg ico-transparent et-chat"></i>
                <div class="block size-50" style="color: #e74c3c;">
                    <strong class="countTo size-50" data-speed="3000">100</strong> %
                </div>
                <h3 class="size-15 margin-top-10 margin-bottom-0">SUPPORT</h3>
            </div>

            <div class="col-xs-6 col-sm-3 col-xs-6">
                <i class="ico-lg ico-transparent et-flag"></i>
                <div class="block size-50" style="color: #16a085;">
                    <strong class="countTo size-50" data-speed="3000">77</strong> %
                </div>
                <h3 class="size-15 margin-top-10 margin-bottom-0">CUSTOMER CARE</h3>
            </div>

            <div class="col-xs-6 col-sm-3 col-xs-6">
                <i class="ico-lg ico-transparent et-puzzle"></i>
                <div class="block size-50" style="color: #9b59b6;">
                    <strong class="countTo size-50" data-speed="3000">9877</strong>
                </div>
                <h3 class="size-15 margin-top-10 margin-bottom-0">DELIVERY</h3>
            </div>

        </div>
        <!-- /Counters -->

    </div>

</section>
<!-- /PARALLAX -->
<!-- -->
<section>
    <div class="container">

        <div class="row">

            <div class="col-lg-4">

                <div class="heading-title heading-border-bottom">
                    <h3>My Vision</h3>
                </div>

                <div class="toggle toggle-transparent-body toggle-accordion">

                    <div class="toggle active">
                        <label>Who am I?</label>
                        <div class="toggle-content">
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. </p>
                        </div>
                    </div>

                    <div class="toggle">
                        <label>My long-term vison</label>
                        <div class="toggle-content">
                            <p>Maecenas metus nulla, commodo a sodales sed, dignissim pretium nunc.</p>
                        </div>
                    </div>

                    <div class="toggle">
                        <label>How can I help you?</label>
                        <div class="toggle-content">
                            <p>Ut enim massa, sodales tempor convallis et, iaculis ac massa.</p>
                        </div>
                    </div>

                </div>

            </div>

            <div class="col-lg-4">

                <div class="heading-title heading-border-bottom">
                    <h3>My Skills</h3>
                </div>

                <div class="progress progress-lg">
                    <!-- progress bar -->
                    <div class="progress-bar progress-bar-warning progress-bar-striped active text-left" role="progressbar" aria-valuenow="90" aria-valuemin="0" aria-valuemax="100" style="width: 90%; min-width: 2em;">
                        <span>WEB DESIGN 90%</span>
                    </div>
                </div><!-- /progress bar -->

                <div class="progress progress-lg">
                    <!-- progress bar -->
                    <div class="progress-bar progress-bar-danger progress-bar-striped active text-left" role="progressbar" aria-valuenow="98" aria-valuemin="0" aria-valuemax="100" style="width: 98%; min-width: 2em;">
                        <span>HTML/CSS 98%</span>
                    </div>
                </div><!-- /progress bar -->

                <div class="progress progress-lg">
                    <!-- progress bar -->
                    <div class="progress-bar progress-bar-success progress-bar-striped active text-left" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: 60%; min-width: 2em;">
                        <span>JAVASCRIPT 60%</span>
                    </div>
                </div><!-- /progress bar -->

                <div class="progress progress-lg">
                    <!-- progress bar -->
                    <div class="progress-bar progress-bar-info progress-bar-striped active text-left" role="progressbar" aria-valuenow="88" aria-valuemin="0" aria-valuemax="100" style="width: 88%; min-width: 2em;">
                        <span>PHP/MYSQL 88%</span>
                    </div>
                </div><!-- /progress bar -->

            </div>

            <div class="col-lg-4">

                <div class="heading-title heading-border-bottom">
                    <h3>Hire me now!</h3>
                </div>

                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Perferendis aliquam id pariatur accusantium perspiciatis deserunt officiis similique nihil dolor blanditiis dignissimos iure praesentium vero suscipit doloribus aperiam unde hic non sint neque molestiae consectetur voluptatum beatae ratione corporis.</p>

                <a href="#" class="btn btn-default btn-block btn-lg">Hire Me</a>

            </div>

        </div>

    </div>
</section>
<!-- / -->
<!-- RECENT WORK -->
<section id="portfolio" class="portfolio-nogutter nopadding-bottom">
    <div class="container">

        <header class="text-center margin-bottom-10">
            <h3>MY RECENT WORK</h3>
            <p class="font-lato weight-300 size-18 margin-top-10">Perferendis aliquam id pariatur accusantium </p>
        </header>

        <hr class="margin-bottom-100" />

    </div>


    <!-- PORTFOLIO ITEMS -->
    <div class="row mix-grid">

        <div class="col-md-5th col-sm-4 mix design">
            <!-- item -->

            <div class="item-box">
                <figure>
                    <span class="item-hover">
                        <span class="overlay dark-5"></span>
                        <span class="inner">

                            <!-- lightbox -->
                            <a class="ico-rounded lightbox" href="assets/images/demo/mockups/1200x800/11-min.jpg" data-plugin-options='{"type":"image"}'>
                                <span class="fa fa-plus size-20"></span>
                            </a>

                            <!-- details -->
                            <a class="ico-rounded" href="portfolio-single-slider.html">
                                <span class="glyphicon glyphicon-option-horizontal size-20"></span>
                            </a>

                        </span>
                    </span>

                    <!-- carousel -->
                    <div class="owl-carousel buttons-autohide controlls-over nomargin" data-plugin-options='{"singleItem": true, "autoPlay": 4000, "navigation": false, "pagination": true, "transitionStyle":"goDown"}'>
                        <div>
                            <img class="img-responsive" src="assets/images/demo/mockups/600x399/8-min.jpg" width="600" height="399" alt="">
                        </div>
                        <div>
                            <img class="img-responsive" src="assets/images/demo/mockups/600x399/9-min.jpg" width="600" height="399" alt="">
                        </div>
                        <div>
                            <img class="img-responsive" src="assets/images/demo/mockups/600x399/10-min.jpg" width="600" height="399" alt="">
                        </div>
                    </div>
                    <!-- /carousel -->


                </figure>
            </div>

        </div><!-- /item -->


        <div class="col-md-5th col-sm-4 mix development">
            <!-- item -->

            <div class="item-box">
                <figure>
                    <span class="item-hover">
                        <span class="overlay dark-5"></span>
                        <span class="inner">

                            <!-- lightbox -->
                            <a class="ico-rounded lightbox" href="assets/images/demo/mockups/1200x800/20-min.jpg" data-plugin-options='{"type":"image"}'>
                                <span class="fa fa-plus size-20"></span>
                            </a>

                            <!-- details -->
                            <a class="ico-rounded" href="portfolio-single-slider.html">
                                <span class="glyphicon glyphicon-option-horizontal size-20"></span>
                            </a>

                        </span>
                    </span>
                    <img class="img-responsive" src="assets/images/demo/mockups/600x399/20-min.jpg" width="600" height="399" alt="">
                </figure>
            </div>

        </div><!-- /item -->


        <div class="col-md-5th col-sm-4 mix photography">
            <!-- item -->

            <div class="item-box">
                <figure>
                    <span class="item-hover">
                        <span class="overlay dark-5"></span>
                        <span class="inner">

                            <!-- lightbox -->
                            <a class="ico-rounded lightbox" href="assets/images/demo/mockups/1200x800/19-min.jpg" data-plugin-options='{"type":"image"}'>
                                <span class="fa fa-plus size-20"></span>
                            </a>

                            <!-- details -->
                            <a class="ico-rounded" href="portfolio-single-slider.html">
                                <span class="glyphicon glyphicon-option-horizontal size-20"></span>
                            </a>

                        </span>
                    </span>
                    <img class="img-responsive" src="assets/images/demo/mockups/600x399/19-min.jpg" width="600" height="399" alt="">
                </figure>
            </div>

        </div><!-- /item -->


        <div class="col-md-5th col-sm-4 mix design">
            <!-- item -->

            <div class="item-box">
                <figure>
                    <span class="item-hover">
                        <span class="overlay dark-5"></span>
                        <span class="inner">

                            <!-- lightbox -->
                            <a class="ico-rounded lightbox" href="assets/images/demo/mockups/1200x800/11-min.jpg" data-plugin-options='{"type":"image"}'>
                                <span class="fa fa-plus size-20"></span>
                            </a>

                            <!-- details -->
                            <a class="ico-rounded" href="portfolio-single-slider.html">
                                <span class="glyphicon glyphicon-option-horizontal size-20"></span>
                            </a>

                        </span>
                    </span>
                    <img class="img-responsive" src="assets/images/demo/mockups/600x399/11-min.jpg" width="600" height="399" alt="">
                </figure>
            </div>

        </div><!-- /item -->


        <div class="col-md-5th col-sm-4 mix design">
            <!-- item -->

            <div class="item-box">
                <figure>
                    <span class="item-hover">
                        <span class="overlay dark-5"></span>
                        <span class="inner">

                            <!-- lightbox -->
                            <a class="ico-rounded lightbox" href="assets/images/demo/mockups/1200x800/12-min.jpg" data-plugin-options='{"type":"image"}'>
                                <span class="fa fa-plus size-20"></span>
                            </a>

                            <!-- details -->
                            <a class="ico-rounded" href="portfolio-single-slider.html">
                                <span class="glyphicon glyphicon-option-horizontal size-20"></span>
                            </a>

                        </span>
                    </span>
                    <img class="img-responsive" src="assets/images/demo/mockups/600x399/12-min.jpg" width="600" height="399" alt="">
                </figure>
            </div>

        </div><!-- /item -->

    </div>
    <!-- /PORTFOLIO ITEMS -->

</section>
<!-- /RECENT WORK -->